@font-face {
    font-family: 'Barlow';
    font-weight: 500;
    /* font-display: swap; */
    src: url(font/SpaceGrotesk-Medium.ttf) format('woff2');

}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F2F2;
    font-family: 'Barlow';


}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.color-card {
    width: 483px;
    height: 900px;
    background: url(./images/bg-main-desktop.png)no-repeat left;
    margin-left: 0 auto;

}

.color-jane {
    width: 447px;
    height: 245px;
    background: url(./images/bg-card-front.png)no-repeat right;
    border-radius: 10px;
    margin-top: 187px;
    margin-left: 164px;
}

.Circle-box {
    width: 84px;
    height: 47px;
    display: flex;
    margin-left: 32px;
    border-radius: 0px;
    align-items: center;
    justify-content: space-between;

}

.big-Circle {
    width: 47px;
    height: 47px;
    border-radius: 50px;
    background: #fff;
    margin-top: 28px;
}

.small-Circle {
    width: 21px;
    height: 21px;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    margin-top: 28px;
}

.card-number {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 3.5px;
    text-align: left;
    color: #fff;
    margin: 64px 25px 0;

}

.name-jane {
    width: 383px;
    height: 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
}

.Card-date {
    width: 50px;
    height: 18px;
    justify-content: space-between;
}


.card-back {
    width: 447px;
    height: 245px;
    border-radius: 10px;
    background-image: linear-gradient (left #FFFFFF 0%, top#1a2d98 10%, black 20%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 23px 258px;
}

#grad3 {
    height: 245px;
    background: linear-gradient(168.73deg, #FFFFFF 5%, #D2D3D9 91.69%);

}


.card-back-black {
    background: #2F2F2F;
    width: 447px;
    height: 54px;
    border-radius: 4px;
    margin-top: 23px;

}

.card-back-gray {
    background: #ADB5BE;
    height: 38px;
    width: 361px;
    border-radius: 4px;
    margin-left: 41px;
    justify-content: space-around;
}

.three-zeros {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: right;
    padding: 10px;
}

.group {
    background: url(images/Group.png)no-repeat right;
    width: 186px;
    height: 26px;
    margin: 33px 139px;

}

.container-Cardholder {
    width: 381px;
    height: 352px;
    background-color: #F2F2F2;
    margin: 275px 400px;

}

#name {
    opacity: 20%;
    width: 381px;
    height: 45px;
    right: 16px;
    border-radius: 8px;
    margin-bottom: 26px;
    font-weight: 500;
    background: #fff;
}

.name-Cardholder {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 9px;


}

.number-Cardholder {

    opacity: 20%;
    width: 381px;
    height: 45px;
    border-radius: 8px;
    margin-bottom: 26px;
    font-weight: 500;
    background: #fff;

}

.date-Cardholder {
    width: 80px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #DFDEE0;
    font-weight: 500;
    margin-top: 9px;
}

.date {
    line-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.EXP {
    width: 170pX;
    height: 69pX;

}

.cvc {
    width: 191pX;
    height: 45px;
    margin-bottom: 40px;

}

.Confirm-button {
    height: 53px;
    width: 381px;

    border-radius: 8px;
    background: #21092F;
    font-weight: 500;
}

.Confirm {

    padding: 15px;
    background: #21092F;
    color: #fff;
    margin-left: 142px;
    font-weight: 500;
    font-size: 18px;
    height: 23px;
    width: 68px;
}


.attribution {
    font-size: 11px;
align-items: flex-end;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    
    text-align: center;
}

@media only screen and (max-width:750px) {

    .container {
        display: grid;
        grid-template-rows: 5fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            ". ."
            "c c"
            "j j"
            "b b"
            "a a";
        grid-gap: 3px;
        justify-items: center;
        align-items: center;

    }

    .color-card {
        width: 375px;
        height: 240px;

    }

    .card-back {
        margin-top: 32px;
        grid-area: c;
    }

    .color-jane {
        margin: 94px 16px;
        grid-area: b;

    }

    .container-Cardholder {
        grid-area: a;
    }


    .attribution {
        display: none;
    }
}